/*Font size */
$fontSizeXXL: 70px;
$fontSizeXL: 40px;
$fontSizeL: 22px;
$fontSizeM: 20px;
$fontSizeXS: 16px;
$fontSizeXXS: 15px;

/*Line height*/
$lineHeightXXL: 63px;
$lineHeightXL: 36px;
$lineHeightL: 29px;
$lineHeightM: 26px;
$lineHeightS: 20px;
$lineHeightXS: 18px;
$lineHeightXXS: 16px;


/* Font weight*/
$thick: 600;
$regular: 400;
