.chess__circles {
    background-image: url('../../../../../images/chess__circles_large.svg');
    position: absolute;
    bottom: 80px;
    right: -160px;
    width: 640px;
    height: 640px;
    background-repeat: no-repeat;

    @include tablet {
        background-image: url('../../../../../images/chess_circles_medium.svg');
        right: -130px;
        bottom: 50px;
        width: 260px;
        height: 520px;
    }

    @include mobile {
        background-image: url('../../../../../images/chess_circles_small.svg');
        top: 24px;
        right: 20px;
        width: 120px;
        height: 60px;
    }
}
