.battles__wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 72px;

    @include tablet {
        margin-top: 105px;
    }

    @include mobile {
        margin-top: 60px;
    }
}
