.circle {
    position: relative;
    width: 440px;
    height: 440px;
    margin: 0;

    @include tablet {
        width: 360px;
        height: 360px;
    }

    @include mobile {
        width: 280px;
        height: 280px;
    }
}
