.text__wrapper_join {

    padding: 91px 0;
    max-width: 520px;

    @include tablet {
        padding: 41px 0 70px;
        max-width: 478px;
    }

    @include mobile {
        padding: 0px 0 180px;
    }
}
