.popup__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 500px;

    @include mobile {
        max-width: 280px;
    }
}

.popup__container:hover {
    cursor: auto;
}
