.text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0px 160px;

    @include tablet {
        padding: 0px 50px;
    }

    @include mobile {
        padding: 19px 20px 20px;
        gap: 20px;
    }

}
