.circle__inner-circle {
    position: absolute;
    width: 220px;
    height: 220px;
    margin: 0 auto;
    border-radius: 100%;
    z-index: 2;

    @include tablet {
        width: 180px;
        height: 180px;
    }

    @include mobile {
        width: 140px;
        height: 140px;
    }
}
